<div class="ion-page" id="main-content" scroll="false">
  <ion-header>
    <ion-toolbar class="barra" color="secundary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{"Historial"|translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" >
  
    <ion-searchbar
  [(ngModel)]="selectedMonth"
  show-cancel-button="always"
  cancel-button-text="Clear"
  cancel-button-icon="trash"
  placeholder="Selecciona un mes"
  type="month"
  (ionChange)="filtrarPorFecha()"
  (ionClear)="limpiarFiltro()"
></ion-searchbar>

    
<ion-list>
  <ion-item>
    <ion-label position="stacked">{{"SeleccionTarjeta"|translate}}</ion-label>
    <ion-select placeholder="{{'SeleccionTarjeta'|translate}}" [(ngModel)]="id_tarjeta" (ionChange)="filtrarTodo()" multiple="true">
      <ion-select-option   value="">{{"MostrarTodos"|translate}}</ion-select-option>
      <ion-select-option *ngFor="let tarjeta of tarjetasOriginales" [value]="tarjeta.id_tarjeta">{{tarjeta.nombre}}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Selector de Categorías -->
  

  <ion-item>
    <ion-label position="stacked">{{"SeleccionarCategoria"|translate}}</ion-label>
    <ion-select multiple="true" placeholder="{{'SeleccionarCategoria'|translate}}" [(ngModel)]="id_categoria" (ionChange)="filtrarCategoria()">
      <ion-select-option *ngFor="let categoria of categoriasOriginales" [value]="categoria.id_categoria">{{categoria.nombre}}</ion-select-option>

    </ion-select>
  </ion-item>
</ion-list>

 

<div name="uno">
  <div class="desgloce">
      <h3>{{"Gastos"|translate}}</h3>
      <ion-icon name="chevron-down" slot="end" size="large" class="despliegue" (click)="toggleContent('gastos')"  *ngIf="expandedId !== 'gastos'"></ion-icon>
      <ion-icon name="chevron-up" slot="end" size="large" class="despliegue" (click)="toggleContent('gastos')" *ngIf="expandedId === 'gastos'"></ion-icon>
  </div>
  <div  [ngClass]="{'expanded': expandedId === 'gastos'}">
    <div *ngIf="expandedId === 'gastos'" class="expand">
      <ion-list>
        <ion-item *ngFor="let gasto of gastos | slice:0:(mostrarTodos ? gastos.length : 5); let i = index">
          <ion-label>
            <h2>{{ gasto.nombre }}</h2>
            <p>{{ gasto.categoria }}</p>
            <p>{{ gasto.fecha_ingreso | date }}</p>
          </ion-label>
          <ion-note slot="end" color="danger">
            {{ gasto.total | currency: getSelectedCurrency() }}
          </ion-note>
        </ion-item>
    <p>{{"TotalGasto"|translate}}: {{ totalGastos | currency: getSelectedCurrency() }}</p>

    <ion-item *ngIf="gastos.length > 5 && !mostrarTodos " >
      <ion-label>{{"MostrarMas"|translate}}</ion-label>
      <ion-icon name="arrow-down-circle-outline" slot="end" size="large" (click)="expandirLista('gasto')"></ion-icon>
    </ion-item>
  
   
    <ion-item *ngIf="mostrarTodos" >
      <ion-label>{{"MostrarMenos"|translate}}</ion-label>
      <ion-icon name="arrow-up-circle-outline" slot="end" size="large" (click)="contraerLista()"></ion-icon>
    </ion-item>
      </ion-list>
    </div>
  </div>
</div>

<div name="dos">
  <div class="desgloce">
      <h3>{{"Ahorros"|translate}}</h3>
      <ion-icon name="chevron-down" slot="end" size="large" class="despliegue" (click)="toggleContent('ahorros')"  *ngIf="expandedId !== 'ahorros'"></ion-icon>
      <ion-icon name="chevron-up" slot="end" size="large" class="despliegue" (click)="toggleContent('ahorros')" *ngIf="expandedId === 'ahorros'"></ion-icon>
  </div>
  <div  [ngClass]="{'expanded': expandedId === 'ahorros'}">
    <div *ngIf="expandedId === 'ahorros'" class="expand">
      <ion-list>
        <ion-item *ngFor="let ahorro of ahorros | slice:0:(mostrarTodos ? ahorros.length : 5); let i = index">
          <ion-label>
            <h2>{{ ahorro.nombre }}</h2>
            <p>{{"Total"|translate}}: {{ ahorro.total_alcanzar | currency: getSelectedCurrency() }}</p>
            <ion-progress-bar 
              [value]="ahorro.total / ahorro.total_alcanzar"
              color="success">
            </ion-progress-bar>
          </ion-label>
          <ion-note slot="end" color="success">
            {{ ahorro.total | currency: getSelectedCurrency() }}
          </ion-note>
        </ion-item>
  <p>{{"TotalAhorro"|translate}}: {{ totalAhorros | currency: getSelectedCurrency()}}</p>

  <ion-item *ngIf="ahorros.length > 5 && !mostrarTodos" >
    <ion-label>{{"MostrarMas"|translate}}</ion-label>

    <ion-icon name="arrow-down-circle-outline" slot="end" size="large" (click)="expandirLista('ahorro')"></ion-icon>
  </ion-item>

 
  <ion-item *ngIf="mostrarTodos" >
    <ion-label>{{"MostrarMenos"|translate}}</ion-label>

    <ion-icon name="arrow-up-circle-outline" slot="end" size="large" (click)="contraerLista()"></ion-icon>
  </ion-item>

      </ion-list>
      
    </div>
  </div>
</div>


<div name="tres">
  <div class="desgloce">
      <h3>{{"Ingresos"|translate}}</h3>
      <ion-icon name="chevron-down" slot="end" size="large" class="despliegue" (click)="toggleContent('ingresos')"  *ngIf="expandedId !== 'ingresos'"></ion-icon>
      <ion-icon name="chevron-up" slot="end" size="large" class="despliegue" (click)="toggleContent('ingresos')" *ngIf="expandedId === 'ingresos'"></ion-icon>
  </div>
  <div  [ngClass]="{'expanded': expandedId === 'ingresos'}">
    <div *ngIf="expandedId === 'ingresos'" class="expand">
      <ion-list>
        <ion-item *ngFor="let ingreso of ingresos | slice:0:(mostrarTodos ? ingresos.length : 5); let i = index">
          <ion-label>
            <h2>{{ ingreso.nombre }}</h2>
            <p>{{ ingreso.categoria }}</p>
            <p>{{ ingreso.fecha_ingreso | date }}</p>
          </ion-label>
          <ion-note slot="end" color="danger">
            {{ ingreso.total | currency: getSelectedCurrency() }}
          </ion-note>
        </ion-item>
    <p>{{"TotalIngreso"|translate}}: {{ totalIngresos | currency: getSelectedCurrency()}}</p>

    <ion-item *ngIf="ingresos.length > 5 && !mostrarTodos" >
      <ion-label>{{"MostrarMas"|translate}}</ion-label>

      <ion-icon name="arrow-down-circle-outline" slot="end" size="large" (click)="expandirLista('ingreso')"></ion-icon>
    </ion-item>
  
   
    <ion-item *ngIf="mostrarTodos" >
      <ion-label>{{"MostrarMenos"|translate}}</ion-label>

      <ion-icon name="arrow-up-circle-outline" slot="end" size="large" (click)="contraerLista()"></ion-icon>
    </ion-item>
      </ion-list>
    </div>
  </div>
</div>

<div name="cuatro">
  <div class="desgloce">
      <h3>{{"Deudas"|translate}}</h3>
      <ion-icon name="chevron-down" slot="end" size="large" class="despliegue" (click)="toggleContent('deudas')"  *ngIf="expandedId !== 'deudas'"></ion-icon>
      <ion-icon name="chevron-up" slot="end" size="large" class="despliegue" (click)="toggleContent('deudas')" *ngIf="expandedId === 'deudas'"></ion-icon>
  </div>
  <div  [ngClass]="{'expanded': expandedId === 'deudas'}">
    <div *ngIf="expandedId === 'deudas'" class="expand">
      <ion-list>
        <ion-item *ngFor="let deuda of deudas | slice:0:(mostrarTodos ? deudas.length : 5); let i = index">
          <ion-label>
            <h2>{{ deuda.nombre }}</h2>
            <p>{{ deuda.descripcion }}</p>
            <p>{{"Progreso"|translate}}: {{ deuda.cuotas_pago }}/{{ deuda.cuotas }}</p>
            <ion-progress-bar 
              [value]="deuda.total_pagado / deuda.total"
              color="warning">
            </ion-progress-bar>
          </ion-label>
          <ion-note slot="end" color="warning">
            {{ deuda.total | currency: getSelectedCurrency() }}
          </ion-note>
        </ion-item>
  <p>{{"TotalDeuda"|translate}}: {{ totalDeudas | currency: getSelectedCurrency()}}</p>


  <ion-item *ngIf="deudas.length > 5 && !mostrarTodos" >
    <ion-label>{{"MostrarMas"|translate}}</ion-label>

    <ion-icon name="arrow-down-circle-outline" slot="end" size="large" (click)="expandirLista('deuda')"></ion-icon>
  </ion-item>

 
  <ion-item *ngIf="mostrarTodos" >
    <ion-label>{{"MostrarMenos"|translate}}</ion-label>

    <ion-icon name="arrow-up-circle-outline" slot="end" size="large" (click)="contraerLista()"></ion-icon>
  </ion-item>
      </ion-list>
    </div>
  </div>
</div>

<div name="cinco">
  <div class="desgloce">
      <h3>{{"Prestamos"|translate}}</h3>
      <ion-icon name="chevron-down" slot="end" size="large" class="despliegue" (click)="toggleContent('inversiones')"  *ngIf="expandedId !== 'inversiones'"></ion-icon>
      <ion-icon name="chevron-up" slot="end" size="large" class="despliegue" (click)="toggleContent('inversiones')" *ngIf="expandedId === 'inversiones'"></ion-icon>
  </div>
  <div  [ngClass]="{'expanded': expandedId === 'inversiones'}">
    <div *ngIf="expandedId === 'inversiones'" class="expand">
      <ion-list>
        <ion-item *ngFor="let prestamo of prestamos | slice:0:(mostrarTodos ? prestamos.length : 5); let i = index">
          <ion-label>
            <h2>{{ prestamo.nombre }}</h2>
            <p>{{ prestamo.descripcion }}</p>
            <p>{{"Prestado"|translate}}: {{ prestamo.user_friend }}</p>
            <ion-progress-bar 
              [value]="prestamo.total_pagado / prestamo.total"
              color="tertiary">
            </ion-progress-bar>
          </ion-label>
          <ion-note slot="end" color="tertiary">
            {{ prestamo.total | currency: getSelectedCurrency() }}
          </ion-note>
        </ion-item>
  <p>{{"TotalPrestamo"|translate}}: {{ totalPrestamos | currency: getSelectedCurrency()}}</p>


  <ion-item *ngIf="prestamos.length > 5 && !mostrarTodos" >
    <ion-label>{{"MostrarMas"|translate}}</ion-label>

    <ion-icon name="arrow-down-circle-outline" slot="end" size="large" (click)="expandirLista('prestamo')"></ion-icon>
  </ion-item>

 
  <ion-item *ngIf="mostrarTodos" >
    <ion-label>{{"MostrarMenos"|translate}}</ion-label>

    <ion-icon name="arrow-up-circle-outline" slot="end" size="large" (click)="contraerLista()"></ion-icon>
  </ion-item>
      </ion-list>
    </div>
  </div>
</div>


<div class="grafico">
  <ion-item>
    <ion-label>{{"TipoGrafico"|translate}}</ion-label>
    <ion-select [(ngModel)]="selectedChartType" (ionChange)="updateChart()">
      <ion-select-option value="bar">{{"Barras"|translate}}</ion-select-option>
      <ion-select-option value="line">{{"Lineal"|translate}}</ion-select-option>
      <ion-select-option value="doughnut">{{"Circular"|translate}}</ion-select-option>
    </ion-select>
  </ion-item>
  <canvas id="historial"></canvas>
</div>


  <div class="espacio">
    
  </div>

<div class="navigation">
  <ul>
  <li class="active" [routerLink]="['/index/index']">
    <a href=""> <span class="icon">
        <ion-icon name="home-outline"></ion-icon>
                </span>
    </a>
  </li>

  <li class="active" [routerLink]="['/history/history']">
    <a href=""> <span class="icon">
        <ion-icon name="newspaper-outline"></ion-icon>
                </span>
    </a>
  </li>

  <li class=" active" [routerLink]="['/informes/informes']">
    <a href=""> <span class="icon">
        <ion-icon name="document-text-outline"></ion-icon>
                </span>
    </a>
  </li>

  <li class=" active" [routerLink]="['/config/config']">
    <a href=""> <span class="icon">
        <ion-icon name="settings-outline"></ion-icon>
                </span>
    </a>
  </li>

  <li class="active" [routerLink]="['/perfil/perfil']">
    <a href=""> <span class="icon">
        <ion-icon name="person-circle-outline"></ion-icon>
                </span>
    </a>
  </li>

  <div class="indicator"><span></span></div>
</ul>
</div>
  </ion-content>  