<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ 'MenuContent' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">{{ 'MenuText' | translate }}</ion-content>
</ion-menu>

<div class="ion-page" id="main-content" scroll="false">
  <ion-header>
    <ion-toolbar class="barra" color="secundary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'Ahorros' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-select placeholder="{{ 'SeleccionTarjeta' | translate }}" [(ngModel)]="id_tarjeta" (ionChange)="filtrarAhorros($event)">
          <ion-select-option value="">{{ 'MostrarTodos' | translate }}</ion-select-option>
          <ion-select-option *ngFor="let tarjeta of tarjetasDebito" [value]="tarjeta.id_tarjeta">{{ tarjeta.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <swiper-container (slidechange)="swiperSlideChanged($event)" [loop]="true" [pagination]="true" slides-per-view="1" space-between="0" observer="true" observer-parents="true" style="overflow: hidden;">
      <swiper-slide (click)="onOptionChange({ detail: { value: 'modalAhorro' } })">
        <div class="slide-content">
          <h2>{{ 'AhorrosManuales' | translate }}</h2>
          <p>{{ 'AñadirAhorrosManuales' | translate }}</p>
        </div>
      </swiper-slide>
      <swiper-slide (click)="onOptionChange({ detail: { value: 'modalAhorroMensual' } })">
        <div class="slide-content">
          <h2>{{ 'AhorrosAutomaticos' | translate }}</h2>
          <p>{{ 'AñadirAhorrosAutomaticos' | translate }}</p>
        </div>
      </swiper-slide>
    </swiper-container>

    <ion-icon name="add-circle-outline" size="large" slot="end"></ion-icon>
    <ion-button class="eliminar" color="morado" (click)="eliminar()">
      {{ mostrarEliminarIconos ? ('Cancelar' | translate) : ('Eliminar' | translate) }}
    </ion-button>
   

    <ion-icon name="add-circle-outline" size="large" slot="end"></ion-icon>

    <div *ngFor="let ahorro of ahorros; let i = index" class="tarjeta-container">
      <div class="tarjeta">
        <div class="tarjeta-header">
          <ion-icon *ngIf="mostrarEliminarIconos" name="remove-circle-outline" size="large" class="remove-icon" (click)="eliminar_ahorro(ahorro.id_ahorro)" color="morado"></ion-icon>
          <ion-icon *ngIf="mostrarEditarIconos" name="brush-outline" size="large" class="remove-icon" (click)="editar(ahorro)" color="morado"></ion-icon>
        </div>

        <div class="tarjeta-grid">
          <div class="tarjeta-column">
            <div class="info-row">
              <div class="label">{{ 'Nombre' | translate }}</div>
              <div class="value">{{ ahorro.nombre }}</div>
            </div>
            <div class="info-row">
              <div class="label">{{ 'Total' | translate }}</div>
              <div class="value">${{ ahorro.total_alcanzar | currency: getSelectedCurrency(): true }}</div>
            </div>
            <div class="info-row">
              <div class="label">{{ 'Tipo' | translate }}</div>
              <div class="value">{{ ahorro.tipo  }}</div>
            </div>
            <div class="info-row">
              <div class="label">{{ 'Categoria' | translate }}</div>
              <div class="value">{{ ahorro.categoria || 'No especificada' | translate }}</div>
            </div>
          </div>

          <div class="tarjeta-column">
            <div class="info-row">
              <div class="label">{{ 'TotalPagado' | translate }}</div>
              <div class="value">${{ ahorro.total| currency: getSelectedCurrency(): true  }}</div>
            </div>
            <div class="info-row">
              <div class="label">{{ 'TipoAhorro' | translate }}</div>
              <div class="value">{{ ahorro.tipo }}</div>
            </div>
            <div class="info-row">
              <div class="label">{{ 'TotalRestante' | translate }}</div>
              <div class="value">${{ ahorro.total_alcanzar - ahorro.total | currency: getSelectedCurrency(): true }}</div>
            </div>
          </div>
        </div>

        <div class="cuotas-section">
          <div class="cuotas-header">
            <span>{{ 'ProgresoAhorro' | translate }}</span>
            <span class="cuotas-count">{{ (ahorro.total * 100) / ahorro.total_alcanzar }}%</span>
          </div>
          <div class="progress-bar">
            <div class="progress-fill" [style.width]="(ahorro.total * 100 / ahorro.total_alcanzar) + '%'"></div>
          </div>
          <div class="cuotas-detail">
            <div class="cuota-item">
              <span class="label">{{ 'Restante' | translate }}</span>
              <span class="value">${{ ahorro.total_alcanzar - ahorro.total | currency: getSelectedCurrency(): true }}</span>
            </div>
          </div>
        </div>

        <div class="descripcion-section">
          <div class="label">{{ 'Descripcion' | translate }}</div>
          <div class="value">{{ ahorro.descripcion || 'Sin descripción' | translate }}</div>
        </div>

        <div class="tarjeta-footer">
          {{ 'TarjetaPagar' | translate }}: {{ ahorro.tarjeta }}
        </div>
        <button class="pagar-button" (click)="editar(ahorro)">
          <ion-icon name="wallet-outline"></ion-icon>
          <span>{{ 'AnadirDinero' | translate }}</span>
        </button>
      </div>
    </div>
    <div class="espacio"></div>

    <ion-modal #modalAhorro [isOpen]="isModalAhorroOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ 'Ahorros' | translate }}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeModal(modalAhorro)">{{ 'Cerrar' | translate }}</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div class="formulario">
            <ion-list>
              <ion-item class="inputs">
                <label for="">{{ 'Nombre' | translate }}: </label>
                <ion-input [(ngModel)]="nombre" placeholder="{{ 'Nombre' | translate }}" type="text"></ion-input>
              </ion-item>

              <ion-item class="inputs">
                <label for="">{{ 'Total' | translate  }}</label>
                <ion-input [(ngModel)]="totalAnadir" placeholder="{{ 'Total' | translate }}" type="number"></ion-input>
              </ion-item>

              <ion-item class="inputs">
                <label for="">{{ 'Tarjeta' | translate }}: </label>
                <ion-select placeholder="{{ 'SeleccionaTarjeta' | translate }}" [(ngModel)]="id_tarjeta" (ionChange)="onTipoChange($event)">
                  <ion-select-option *ngFor="let tarjeta of tarjetas" [value]="tarjeta.id_tarjeta">{{ tarjeta.nombre }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>

          <div>
            <ion-button color="morado" (click)="addDinero()">
              {{ isEditing ? ('Aceptar' | translate): ('Aceptar' | translate) }}
            </ion-button>
            <ion-button (click)="setOpen(false)" color="morado">{{ 'Cancelar' | translate }}</ion-button>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>

    <div class="navigation">
      <ul>
        <li class="active" [routerLink]="['/index/index']">
          <a href=""><span class="icon"><ion-icon name="home-outline"></ion-icon></span></a>
        </li>

        <li class="active" [routerLink]="['/history/history']">
          <a href=""><span class="icon"><ion-icon name="newspaper-outline"></ion-icon></span></a>
        </li>

        <li class="active" [routerLink]="['/informes/informes']">
          <a href=""><span class="icon"><ion-icon name="document-text-outline"></ion-icon></span></a>
        </li>

        <li class="active" [routerLink]="['/config/config']">
          <a href=""><span class="icon"><ion-icon name="settings-outline"></ion-icon></span></a>
        </li>
      </ul>
    </div>
  </ion-content>
</div>
